.card
{
  border: 1px solid #f8e8f8;
  padding: 30px;
  max-width: 450px;
  width: 100%;
  border-radius: 40px;
  background: #fff;
  color: #060606;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  margin: 15px;

  &:hover {
    box-shadow: 0px 14px 30px rgba(138, 128, 128, 0.4);
    transform: translateY(-5px);
  }

  .favorite {
    position: absolute;
    cursor: pointer;
  }

  span {
    font-size: 2.1vh;
    opacity: .5;
    text-transform: uppercase;
  }

  b {
    font-size: 2.1vh;
  }

  h5 {
    font-weight: 400;
    font-size: 2.3vh;
    margin-bottom: 20px;
  }
}

.cardBottom
{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .cardPrice {
    display: flex;
    flex-direction: column;
  }
}

.button
{
  background: #fff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}